//ion-content.background-image {
  //--background: url(https://images.unsplash.com/photo-1541899481282-d53bffe3c35d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) no-repeat center center/cover;
//}

#spiner {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 40%;
  height: 20% !important;
  width: 20% !important;
}
