<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Novi oglas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <ion-item>
                        <ion-label position="floating">Naslov oglasa:</ion-label>
                        <ion-input
                                type="text"
                                id="naslov"
                                formControlName="naslov"
                                name="naslov"
                        ></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label>Marka</ion-label>
                        <ion-select value="notifications" interface="action-sheet" name="marka" required (ionChange)="onSelektovanaMarka($event)"
                                    formControlName="marka">
                            <ion-select-option *ngFor="let marka of marke;let i=index"
                                               >{{marka.naziv}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Modeli</ion-label>
                        <ion-select value="notifications" interface="action-sheet" formControlName="model"
                                    [disabled]=form.controls.marka.invalid>
                            <ion-select-option *ngFor="let model of selectedMarke">{{model}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item>
                        <ion-label>Vrsta goriva</ion-label>
                        <ion-select value="notifications" interface="action-sheet" formControlName="gorivo" >
                            <ion-select-option *ngFor="let goriv of gorivo">{{goriv}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="form-group">
                      <textarea
                              rows="3"
                              class="form-control"
                              formControlName="opis"
                              placeholder="Opis"></textarea>
                    </div>

                    <ion-item>
                        <ion-label position="floating">Cena:</ion-label>
                        <ion-input
                                type="number"
                                id="cena"
                                formControlName="cena"
                        ></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Kilometraza:</ion-label>
                        <ion-input
                                type="number"
                                id="km"
                                formControlName="kilometraza"
                        ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Zapremina motora:</ion-label>
                        <ion-input
                                type="number"
                                id="ccm"
                                formControlName="kubikaza"
                                name="ccm"
                        ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Snaga motora:</ion-label>
                        <ion-input
                                type="number"
                                id="ks"
                                formControlName="snaga"
                        ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label>Godiste</ion-label>
                        <ion-select value="notifications" interface="action-sheet" formControlName="godiste">
                            <ion-select-option *ngFor="let god of godista">{{god}}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-radio-group formControlName="menjac" name="menjac">
                        <ion-list-header>
                            <ion-label>Vrsta menjaca:</ion-label>
                        </ion-list-header>
                        <ion-item *ngFor="let menjac of menjaci">
                            <ion-label>{{menjac}}</ion-label>
                            <ion-radio slot="start" color="primary" value="{{menjac}}"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                    <ion-item>
                        <ion-label position="floating">Slika:</ion-label>
                        <ion-input
                                type="text"
                                id="slika"
                                formControlName="slika"
                        ></ion-input>
                    </ion-item>
                    <ion-button expand="full"
                                type="submit"
                                [disabled]="!form.valid">Postavi oglas
                    </ion-button>
                </form>
            </div>
        </div>
    </div>
</ion-content>
