<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prijava na sistem
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-6 offset-sm-1 offset-md-3 mt-5">
        <ion-chip *ngIf="message" [color]="this.message === 'Neuspesno registrovanje' ? 'danger' : 'success'" class="w-100">{{message}}</ion-chip>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input
                    type="text"
                    id="email"
                    ngModel
                    name="email"
                    required
                    email
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input
                    type="password"
                    id="password"
                    ngModel
                    name="password"
                    required
            ></ion-input>
          </ion-item>
          <div class="d-flex flex-column justify-content-around mt-3">
            <ion-button expand="full"
                        size="large"
                        type="submit"
                        fill="outline"
                        expand="block"
                        [disabled]="!f.valid">{{isLogin ? 'Login' : 'Sign up'}}
            </ion-button>
            <ion-button expand="full"
                        type="button"
                        (click)="promeni()"
                        >Prebaci na {{!isLogin ? 'Login' : 'Sign up'}}
            </ion-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>
