<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
            <ion-toolbar color="primary-shade">
                <ion-title color="primary">MN prodaja automobila <ion-icon  class="ml-3" name="car-sport-outline"></ion-icon> </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-menu-toggle>
                <ion-list>
                    <ion-item [routerLink]="['/']"><ion-icon class="mr-3" name="home-outline"></ion-icon>Početna</ion-item>
                    <ion-item
                    [routerLink]="['/','oglasi','pretraga']"><ion-icon class="mr-3" name="search-outline"></ion-icon>Pretraga</ion-item>
                    <ion-item  [routerLink]="['/', 'oglasi', 'dodaj-oglas']"><ion-icon class="mr-3" name="add-outline"></ion-icon>Dodaj oglas</ion-item>
                    <ion-item [routerLink]="['/','moji_oglasi']"><ion-icon class="mr-3" name="documents-outline"></ion-icon>Moji oglasi</ion-item>
                    <ion-item [routerLink]="['/','sacuvani_oglasi']"><ion-icon class="mr-3" name="bookmark-outline"></ion-icon>Sacuvani oglasi</ion-item>
                    <ion-item><ion-icon class="mr-3" name="people-outline"></ion-icon>O nama</ion-item>
                    <ion-item><ion-icon class="mr-3" name="moon-outline"></ion-icon>Dark mode<ion-toggle color="primary"></ion-toggle></ion-item>
                    <ion-item (click)="onLogout()" *ngIf="this.authService.token.value"><ion-icon class="mr-3" name="log-out-outline"></ion-icon>Log out</ion-item>
                </ion-list>
            </ion-menu-toggle>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
