ion-card-title{
  font-size: 1.1rem;
}

.zaCenu {
  background-color: #F1AE5C;
  text-align: center;
  font-size: 1.3em;
  border-top-color: red;
  font-weight: 700;
}

.subtitle {
  margin-top: 7px;
}

