<ion-card class="shadow-lg">
    <ion-grid>
        <ion-row class="d-flex align-items-center">
            <ion-col size-md="6" size-sm="6" size-xs="12">
                <ion-slides pager="true">
                    <ion-slide *ngFor="let slicica of oglas.slika">
                        <img class="img-responsive" [src]="slicica" [routerLink]="['/', 'oglasi', oglas._id] ">
                    </ion-slide>
                </ion-slides>
            </ion-col>
            <ion-col size-md="6" size-sm="6" size-xs="12">
                <ion-card-header>
                    <ion-card-title>{{oglas.naslov}}</ion-card-title>
                    <ion-card-subtitle>{{oglas.godiste}}. / {{oglas.kilometraza}} km</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    {{oglas.cena}} €
                </ion-card-content>
                <ion-button *ngIf="isMyOglas" [routerLink]="['/oglasi', oglas._id, 'edit']">
                    <ion-icon name="create-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="isMyOglas" (click)="onDelete()">
                    <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <ion-button *ngIf="this.authService.token.value && !isMyOglas" (click)="onSacuvaj()">
                    <ion-icon name="star-outline" *ngIf="!isSacuvan"></ion-icon>
                    <ion-icon name="cloud-offline-outline" *ngIf="isSacuvan"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
